doctype html
head
    meta(charset='utf-8')
    title Socket test
body
    input#routeID(type='hidden' value=id)
    input#routeName(type='hidden' value=name)
    #log
    h1= name + '번 버스'
    ul#title
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='socket.io/socket.io.js')
script
    include client.js
