doctype html
head
    meta(charset='utf-8')
    title Socket test
body
    #log
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='socket.io/socket.io.js')
script.
    $(() => {
        let socket = io();

        let cur_location = window.location.href;
        let cur_url = new URL(cur_location);
        let id = cur_url.searchParams.get("id");

        socket.emit("connect_", {});

        socket.emit("req_station_rt", {
            id: id
        })

        socket.on("res_station_rt", function (data) {
            let return_content = "";
            for(let i of data){
                let return_line = `angle : ${i.angle} event_type : ${i.event_type} speed : ${i.speed} stop_id : ${i.stop_id}<br>`;
                return_content += return_line;
            }
            $("#log").html(return_content);
            console.log("received data from server");
        });


        //socket.on('timer', function(data){
        //    $('#log').text("server running time : " +data.time);
        //});


        function randomID(len) {
            var name = "";
            var possible = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXTY_-";
            for (var i = 0; i < len; i++) {
                name += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            return name;
        }
    });