doctype html
head
    meta(charset='utf-8')
    title Socket test
body
    #log
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src='socket.io/socket.io.js')
script.
    $(() => {
        let socket = io();

        let cur_location = window.location.href;
        let cur_url = new URL(cur_location);
        let id = cur_url.searchParams.get("id");

        let routes = {};

        socket.emit("connect_", {});

        socket.emit("req_station_rt", {id});

        /*socket.on("res_station_rt", function (data) {
            let return_content = "";
            for(let i of data){
                let return_line = `angle : ${i.angle} event_type : ${i.event_type} speed : ${i.speed} stop_id : ${i.stop_id}<br>`;
                return_content += return_line;
            }
            $("#log").html(return_content);
            console.log("received data from server");
        });*/

        socket.on("res_station_rt_encap", function(data) {
            let sequence = ['angle', 'lat', 'lng', 'event_type', 'speed', 'stop_id', 'plate_no', 'turn_flag', 'route_type', 'low_flag', 'turn_useflag'];

            //send data : {veh_1 : [[1, 3], [3,10000007]], veh_2 : [[1,2], [2, 50]], veh_3 : null, veh_4 : [1,2,3,4,....]} (example, the most simplified emit data)
            for(let i in data){
                let item = data[i];
                if(item == null){ // 제거
                    if(routes.hasOwnProperty(i)){
                        delete routes[i];
                    }
                }
                else if(typeof item[0] === 'string') { // 추가
                    routes[i] = {};
                    for (let j in item){
                        routes[i][sequence[j]] = item[j];

                    }
                }
                else{ // 변경
                    for(let j of item){
                        routes[i][sequence[j[0]]] = j[1];
                    }
                }
            }
            //showing code should be added.

            console.log(JSON.stringify(routes));

        });


        //socket.on('timer', function(data){
        //    $('#log').text("server running time : " +data.time);
        //});


        function randomID(len) {
            var name = "";
            var possible = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXTY_-";
            for (var i = 0; i < len; i++) {
                name += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            return name;
        }
    });